---
layout: page
title: "Library|照片文献库"
description: "The real content"
header-img: "img/backgroud 2.png"
---
<table border="1">
    <tr>
        <td><strong><font size=4>标本库现有藏品数</font></strong></td>
        <td><strong><font color=red size=6>119</font></td>
    </tr>
</table>
<p>——————————————————————————————————————————————————————————————</p>

<strong><font size=6><li>|<a href="https://slowswakey.github.io/2004/06/28/%E9%9E%98%E7%BF%85%E7%9B%AE/">鞘翅目 Coleoptera</a></li></font></strong>

<strong><font size=6><li>|<a href="https://slowswakey.github.io/2004/06/28/%E5%8F%8C%E7%BF%85%E7%9B%AE/">双翅目 Diptera</a></li></font></strong>

<strong><font size=6><li>|<a href="https://slowswakey.github.io/2004/06/28/%E5%8D%8A%E7%BF%85%E7%9B%AE/">半翅目 Hemiptera</a></li></font></strong>

<strong><font size=6><li>|<a href="https://slowswakey.github.io/2004/06/28/%E8%86%9C%E7%BF%85%E7%9B%AE/">膜翅目 Hymenoptera</a></li></font></strong>

<strong><font size=6><li>|<a href="https://slowswakey.github.io/2004/06/28/%E9%B3%9E%E7%BF%85%E7%9B%AE/">鳞翅目 Lepidoptera</a></li></font></strong>

<strong><font size=6><li>|<a href="https://slowswakey.github.io/2004/06/28/%E8%9E%B3%E8%9E%82%E7%9B%AE/">螳螂目 Mantodea</a></li></font></strong>




<p>——————————————————————————————————————————————————————————————</p>
<strong><font size=8>昆虫纲分类检索表</font></strong>
<p>1 ．无翅；腹部第 6 节以前有附肢（无翅亚纲） ………………………………………………2</p>
<p>有翅或无翅；腹部第 6 节以前无附肢（有翅亚纲） ……………………………………………5</p> 
<p>2 ．无触角；腹部 12 节，前 3 节有附肢；无尾须 …………………… 原尾目 Protura</p>
<p>有触角；腹部最多 11 节 ……………………………………………………………………………………3</p>
<p>3 ．腹部 6 节或更少，无尾须；附肢为：第 1 节有腹管，第 3 节有握弹器，第 4 、 5 节有弹器 ……………………………………………………………………………… 弹尾目 Collembola</p>  
<p>腹部 10 或 11 节，有尾须，附肢为刺突或泡 …………………………………………………………4</p> 
<p>4 ．腹端只有 1 对尾须（或尾狭），无中尾丝；无复眼 …………… 双尾目 Diplura</p> 
<p>腹端有 1 对尾须及 1 中尾丝；有复眼 ………………………………… 缨尾目 Thysanura</p>   
<p>5 ．口器咀嚼式，有成对的上颚；或口器退化 ………………………………………………………6</p> 
<p>口器非咀嚼式，无上颚；为虹吸式、刺吸式或舔吸式等 ………………………………………26</p> 
<p>6 ．有尾须 ……………………………………………………………………………………………………………7</p> 
<p>无尾须（少数有尾须则头延伸成喙状） ………………………………………………………………17</p> 
<p>7 ．触角刚毛状，翅竖在背上或平展而不能折叠 ……………………………………………………8</p> 
<p>触角丝状，念珠状或剑状等；翅可以向后折叠，或无翅 …………………………………………9</p> 
<p>8 ．尾须细长而多节（有时还有中尾丝）；后翅很小或无后翅，无翅痣 …………………………………………………………………………………………… 蜻蜓目 Odonata</p> 
<p>9 ．后足为跳跃足或前足为开掘足 ………………………………………… 直翅目 Orthoptera</p> 
<p>后足为非跳跃足，前足也非开掘足 ……………………………………………………………………10</p> 
<p>10 ．跗节 4 或 5 节 ………………………………………………………………………………………………11</p> 
<p>跗节最多为 3 节 ………………………………………………………………………………………………14</p> 
<p>11 ．触角为丝状或梯状等，而不呈念珠状；前翅革质，后翅膜质 ……………………12</p> 
<p>触角念珠状，前后翅相似，均为膜质，或无翅 ………………………… 等翅目 Isoptera</p> 
<p>12 ．前胸比中胸长或大 ………………………………………………………………………………………13</p>  
<p>前胸比中胸短小，体细长如枝或扁平似叶 ……………………………… 䗛目 Phasmodea</p>  
<p>13 ．前足为捕捉足，中后足不多刺 ………………………………………… 螳螂目 Mantodea</p>  
<p>前足非捕捉足，与中后足相似，生有许多刺 ……………………………… 蜚蠊目 Blattodea</p>  
<p>14 ．跗节 3 节 …………………………………………………………………………………………………16</p>  
<p>跗节 2 节，尾须不分节，触角 9 节 …………………………………………… 缺翅目 Zoraptera</p>  
<p>15 ．前足第一跗节极膨大，有丝腺，能纺丝；前后翅相似（雌），或无翅（雄） ………………………………………………………………………………………… 纺足目 Embiodea</p>  
<p>前足正常，不能纺丝，有翅则后翅比前翅宽大 …………………………………………………16</p>  
<p>16 ．尾须不呈铗状；前翅狭长，后翅臀区扩大，翅均为膜质… 襀翅目 Plecoptera</p>  
<p>尾须坚硬呈铗状，前翅短小，革质，后翅膜质如折扇 …………… 革翅目 Dermaptera</p>  
<p>17 ．跗节最多分为 3 节 ……………………………………………………………………………………18</p>  
<p>跗节 4 节或 5 节；如 3 节以下则无爪，或前翅角质 ……………………………………………19</p>  
<p>18 ．跗节 2 或 3 节；触角细长而多节；有翅或无翅……………… 啮虫目 Corrodentia</p>  
<p>跗节 1 或 2 节；触角短小，最多 5 节；无翅；外寄生于鸟兽 ……………………………………………………………………………………………… 食毛目 Mallophaga</p>   
<p>19 ．前翅特化为平衡棒，后翅很大；雌虫无翅 , 无足；内寄生与昆虫腹部 ………………………………………………………………………………………… 捻翅目 Strepsiptera</p>
<p>前翅不特化为平衡棒 …………………………………………………………………………………………20</p>  
<p>20 ．前翅角质，和身体一样坚硬如铁 …………………………………… 鞘翅目 Coleoptera</p>  
<p>前后翅均为膜质，或无翅 ……………………………………………………………………………………21</p>  
<p>21 ．腹部第一节并入胸部；后翅前缘有一列小钩；成无翅 ………………………………………………………………………………………… 膜翅目 Hymenoptera</p>  
<p>腹部第一节不并入胸部；后翅无小钩列 …………………………………………………………22</p>  
<p>22 ．头部向下延伸成喙状，有短小的尾须（雌虫分两节） …… 长翅目 Mecoptera</p>  
<p>头部不延伸成喙状 ……………………………………………………………………………………………23</p>  
<p>23 ．前胸很小；足胫节上有很大的中距和端距；翅面上密生明显的毛 ……………………………………………………………………………………………… 毛翅目 Trichoptera</p>  
前胸发达；足胫节上无中距，端距较小或呈爪状；翅面上无毛或仅有微毛 ………24  
<p>24 ．后翅臀区发达；可以折叠 ……………………………………………… 广翅目 Megaloptera</p>  
<p>后翅臀区很小；不能折叠 ……………………………………………………………………………………25</p>  
<p>25 ．头基部不延长；前胸如延长则前足特化；雌虫无产卵器（个别有细长产卵器则弯在背上） …………………………………………………………………………… 脉翅目 Neuroptera</p>  
<p>头基部和前胸均延长，前足不特化；雌虫有针状产卵器 ……… 蛇蛉目 Rhaphidodea</p>  
<p>26 ．口器为虹吸式，翅膜质，覆有鳞片 ………………………………… 鳞翅目 Lepidoptera</p>  
<p>口器非虹吸式；翅上无鳞片 ……………………………………………………………………………………27</p>  
<p>27 ．跗节 5 节 …………………………………………………………………………………………………………28</p>  
<p>跗节最多 3 节；或足退化，甚至无足 …………………………………………………………………29</p>  
<p>28 ．前翅膜质，后翅退化为平衡棒；少数无翅。但体不侧扁 ……… 双翅目 Diptera</p>  
<p>无翅，体侧扁；足很发达，喜跳 ………………………………………… 蚤目 Siphonoptera</p>  
<p>29 ．口器位于头的前端，可以缩入头内；足只有 1 个跗节和一个爪，与胫节突起相对应，适于在毛上攀援；无翅、外寄生与哺乳动物 ………………… 虱目 Anoplura</p>  
<p>口器位于头下部，不能缩进头内，足不适于攀援 …………………………………………………30</p>  
<p>30 ．口器常不对称；足端部有泡；无翅和翅围有缨毛 ……… 缨翅目 Thysanoptera</p>  
<p>口器对称；足端无泡；翅不围缘毛，或无翅 ………………………………………………………31</p>  
<p>31 ．前翅基半部革质，端半部膜质；如无翅则喙明显出头部 … 半翅目 Hemiptera</p>  
<p>前翅全部革质或膜质；如无翅则喙出自胸部，或无喙 …………… 半翅目 Hemiptera</p> 
<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
   <!--<blockquote><p>每天只要15分钟，一个月就能掌握<br>-->
   <!--学一点儿是一点儿，不用也不会忘</p></blockquote>

    <p>这里是三叶语学习的相关资料（持续更新中，请常来看看）。</p>


    <p></p>-->
        
<!--<h3 id="toc_0">手册类</h3>

<ul>
<li><a href="{{site.baseurl}}/2018/12/10/三叶语简介">三叶语简介</a></li>
<li><a href="{{site.baseurl}}/2019/01/11/三叶语概述">三叶语概述</a></li>
<li><a href="{{site.baseurl}}/2019/09/22/三叶语详解语音">三叶语详解（一 语音）</a></li>
<li>三叶语详解（二 词汇）</li>
<li>三叶语详解（三 语法）</li>
</ul>

<h3 id="toc_1">教程类</h3>

<ul>
<li>十分钟掌握三叶语字母和读音（<a href="{{site.baseurl}}/files/三叶语-语音.pdf">中文</a>，English）</li>
<li>一小时掌握三叶语单词结构和基础单词</li>
<li>半小时掌握三叶语语法和简单语句</li>
<li>阅读材料</li>
<li>Memrise教程</li>
</ul>

<h3 id="toc_2">词典类</h3>

<ul>
<li><a href="https://github.com/klovien/klovien.github.io/wiki">三叶语维基词典</a></li>
<li><a href="{{site.baseurl}}/files/三叶语词汇表_V0.6.pdf">三叶语词汇表 (V0.6)</a></li>
</ul>

<h3 id="toc_3">网站类</h3>

<ul>
<li>人造语言维基（中文）：<a href="https://yuyan.fandom.com/zh/wiki/%E4%B8%89%E5%8F%B6%E8%8D%89%E5%9B%BD%E9%99%85%E8%AF%AD">三叶草国际语</a></li>
<li>Conlang维基 (English)：<a href="https://conlang.fandom.com/wiki/Klovien_%E4%B8%89%E5%8F%B6%E8%AF%AD">Klovien 三叶语</a></li>
<li>百度人造语言吧：<a href="https://tieba.baidu.com/p/6009002082">三叶草国际语</a></li>
</ul>

<hr>

<small> <font color="a0a9a9">
<b>特别说明：</b>
<li>因为三叶语的设计和词汇还在完善中，您现在学习的内容将来可能还会有少量变化，敬请理解。</li>
<li>若不同文件存在不一致的地方，请以“详解系列”和最新版的“三叶语词汇表”为准，或咨询作者。</li>
</font>
<small>
        
</div>-->

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

